---
layout: page
---

<ul>
    {% assign notes = site.notes | sort: 'title' %}
    {% for note in notes %}
    {% if note.public or jekyll.environment == "development" %}
    <li>
        <a href="{{ note.url }}">
            {{ note.title }}
        </a>
    </li>
    {% endif %}
    {% endfor %}
</ul>
